{% extends 'layouts/base.html.twig' %}


{% block title 'Billets de blog!' %}


{% block body %}
	<h1 class="p-3 text-center ">Mon blog</h1>


	{% if posts|length > 0 %}

		{% for post in posts %}

			<div class="mb-5">
				<div class="mt-3 pb-5 d-flex justify-content-between border-bottom ">

					<time class=" time text-center">

						{{ post.createdAt| format_datetime('medium', 'none', locale='fr')}}
					</time>
					<article class="col-10 lg-10">
						<h2 class="">

							<a class="text-muted text-secondary text-decoration-none" href="{{path('app_posts_show', {id: post.id})}}">
								{{post.title}}
							</a>
						</h2>
						<div class="description  mt-3">
							<p>
								{{post.description|u.truncate(300, ' ...', false)}}


							</p>
						</div>
						<a href=" {{path('app_posts_show', {id: post.id} )}}">
							<button type="button" class="btn btn-success">lire la suite</button>
						</a>


					</article>
				</div>

			</div>
		{% endfor %}
		<p class="d-flex text-center"></p>

		{{knp_pagination_render(posts)}}
	</p>

{% else %}
	<p class="h2 mt-5 text-center">No post yet.
		<a href="{{ path('app_posts_create')}}">Be the first!</a>
	</p>
{% endif %}{% endblock %}
