{% extends 'layouts/base.html.twig' %}


{% block title 'Billets de blog! | Alain N Bahire ' %}

{% block header %}
	<div class=" pt-3 pb-3 mb-5 text-center ">

		<h1 class=" mb-3 pt-5 ">

			Billets de blog !
		</h1>
		<h2 class=" h4 pb-5 text-center text-muted">
			Dans les coulisses des projets sur lesquels j'ai travaillé et plus encore.
		</h2>

	</div>


{% endblock %}

{% block body %}

	{% if posts|length > 0 %}

		{% for post in posts %}

			<div class="mb-5">
				<div class="mt-5 pb-5 d-flex justify-content-between border-bottom ">

					<time class="h4 time text-center text-success">
						{{ post.createdAt| format_datetime('medium', 'none', locale='fr')}}
					</time>

					<article class="col-10 lg-10">
						<h2 class="">

							<a class="text-muted text-secondary text-decoration-none" href="{{path('app_posts_show', {id: post.id})}}">
								{{post.title}}
							</a>
						</h2>
						<div class="description  mt-3">
							<p>
								{{((post.description|u.truncate(300, ' ...', false))|raw)}}

							</p>
						</div>
						<a href=" {{path('app_posts_show', {id: post.id} )}}">
							<button type="button" class="btn btn-success">lire la suite</button>
						</a>


					</article>
				</div>

			</div>
		{% endfor %}
		<p class="mb-4 d-flex text-center"></p>
		<div class="pb-5">
			{{knp_pagination_render(posts)}}
		</div>

	{% else %}
		<p class="h2 mt-5 text-center">Pas encore de posts.</p>
	{% endif %}
{% endblock %}
