{% extends 'layouts/base.html.twig' %}

{% block title post.title %}


{% block body %}
	<div class="row">
		<div class="col-12">
			<article class="post ">
				<div class="p-3">
					<h1 class="h5 text-secondary">{{post.title}}</h1>

					<p class="text-muted">

						<small>
							{{ post.createdAt|date('Y-m-d H:i:s')}}

						</small>
					</p>

					<img class="col-10 " src="/uploads/images/{{post.imageName}}" alt="">
					<p class="pt-3 text-break ">
						{{(post.description|raw)}}

					</p>

					<div class="pt-3">
						<a href="{{path('app_posts_edit', {id: post.id})}}" class=" btn btn-light ">Edit</a>

						<a href="#" onclick="event.preventDefault(); confirm('Are you sure ?')&& document.getElementById('post-delete').submit();" class=" btn btn-light ">Delete</a>

						<form id="post-delete" action="{{path('app_posts_delete', {id: post.id})}}" method="post" style="display:none;">
							<input type="hidden" name="csrf_token" value="{{csrf_token('post_deletion_'~ post.id)}}">

							<input type="hidden" name="_method" value="DELETE">
						</form>
					</div>
				</div>

			</article>

		</div>
	</div>
	<div class="row">
		<div class="col-md-6 ">
			{% if app.user %}
				<h1>Commenter</h1>
				{{ include ("posts/_form.html.twig")}}
			{% else %}
				<p>
					<a class="btn btn-success" href="{{ path('app_login')}}">
						<i class="fa fa-sign-in" aria-hidden="true"></i>
						Se connecter pour commenter
					</a>
					{{ 'post.to_publish_a_comment'|trans }}
				</p>
			{% endif %}

		</div>
	</div>

		{% for comment in post.comments %}
			<div class="row post-comment">
				<h4 class="col-sm-3">
					{{ comment.users.name}}
					<p>Posté le
						{{ comment.publishedAt|format_datetime('medium', 'none', locale='fr') }}
					</p>

				</h4>

				<div class="col-sm-9">
					{{ comment.content }}
				</div>
			</div>
	{% else %}
		<div class="post-comment">
			<p>pas de commentaires</p>
		</div>
		{% endfor %}

{% endblock %}
