{% extends 'layouts/base.html.twig' %}

{% block title 'Contact |Alain N Bahire ' %}


{% block header %}
	<div class="mt-5 mb-5 text-center">
		<h1 class="mb-3">Contact</h1>
		<h2 class="h5 mb-2 text-center  text-muted">Si vous souhaitez discuter d'un projet, veuillez remplir le formulaire ci-dessous et je vous répondrai sous 1 à 2 jours.</h2>


	</div>

{% endblock %}
{% block body %}


	<!-- Contact Section Form-->
	<div class="row pt-5 pb-5 mt-5 mb-5">

		<div class="col-10 border rounded shadow mx-auto">
			<h2 class="h1 mt-5 my-5 text-center">Me contacter</h2>

			{{form_start(form)}}
			<div class="row">
				<div class="mt-3 col-md-6">
					{{form_row(form.username)}}

				</div>
				<div class="mt-3 col-md-6">

					{{form_row(form.email)}}


				</div>
			</div>
			<div class="mt-4">

				{{form_row(form.message)}}


			</div>
			<div class="mt-3 mb-5 text-center">

				<button type="submit" class="btn btn-lg m-auto mx-auto">Envoyer</button>
			</div>
			<input type="hidden" name="csrf_token" value="{{csrf_token('contact_form_')}}">

			{{form_end(form)}}

		</div>
	</div>


{% endblock %}
