
<nav class="navbar navbar-expand-sm fixed-top navbar-dark  " style="background-color: #112437;">

	<div class="container-fluid">

		<a class=" ml-2 navbar-brand" href="{{path("app_home")}}">
			<img class="image-logo" src="{{asset('assets/img/Logo-AN.png')}}" alt="Logo">
		</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>


		<div class="collapse navbar-collapse" id="navbarNavDropdown">

			<ul class="ml-2 nav navbar-nav ml-auto  ">


				<li class="nav-item">
					<a class="nav-link " href="{{path("app_contact")}}">
						Contact
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="{{path("app_posts")}}">
						Blog
					</a>
				</li>

				{% if is_granted('ROLE_ADMIN') %}

					<li class="nav-item"></li>

					<a class="nav-link " href="{{path('app_admin_')}}">Admin</a>
				</li>
				<li class="ml-5 mt-2">
					<a class="text-danger" href="{{path('app_logout')}}">

						<i class="fas fa-sign-out-alt"></i>
						Logout
					</a>

				</li>


			{%  elseif app.user %}

				<li class="ml-5 mt-2">
					<a class="text-danger" href="{{path('app_logout')}}">

						<i class="fas fa-sign-out-alt"></i>
						Logout
					</a>

				</li>

			</ul>
		{% else %}
			<div class="row pl-5 ml-5 mr-2 pt-2 ">

				<li>
					<a class="text-success" href="{{path('app_register')}}">

						<i class="fas fa-user"></i>
						Sign Up
					</a>
				</li>
				<li class="ml-3">
					<a class="text-success" href="{{path('app_login')}}">

						<i class="fas fa-sign-in-alt"></i>
						Login
					</a>
				</li>
			</div>

		{% endif %}


	</div>

</div></nav>
