<nav id="mainNav" class="navbar pt-2 pb-2 fixed-top navbar-expand-sm navbar-dark " style="background-color: #112437;">



	<div class="container-fluid">

		<a class=" ml-2 navbar-brand" href="{{path("app_home")}}">
			<i class="pr-2 fas fa-home"></i>Mon portefolio</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbars id">
			<ul class="ml-2 nav navbar-nav ml-auto  ">


				<li class="nav-item">
					<a class="nav-link" href="{{path("app_about")}}">
						A propos
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link " href="{{path("app_contact")}}">
						Contact
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="{{path("app_posts")}}">
						<i class="fas fa-blog "></i>
						blog
					</a>
				</li>

				{% if app.user %}

				<li class="nav-item">
					<a class="nav-link " href="{{path('app_users')}}">Account</a>
				</li>

				<li class="ml-5 mt-2">
					<a href="{{path('app_logout')}}">

						<i class="fas fa-sign-out-alt"></i>
						Logout
					</a>

				</li>

			</ul>
			{% else %}
				<div class="row pl-5 ml-5 mr-2 pt-2 ">

					<li>
						<a href="{{path('app_register')}}">

							<i class="fas fa-user"></i>
							Sign Up</a>
					</li>
					<li class="ml-3">
						<a href="{{path('app_login')}}">
							<i class="fas fa-sign-in-alt"></i>
							Login</a>
					</li>
				</div>


			{% endif %}


		</div>

	</div>
</nav>
